.wd-course-nav {
    background-color: white;
    padding: 24px 12px 4.5rem 24px;
    width: 200px;
}   
.wd-navigation {
    list-style: none;
    width: 160px;
    padding: 0px;
}
.wd-navigation li {
    padding: 8px 0 8px 6px;
}
.wd-navigation li.wd-active {
    border-left: 2px solid black;
    font-weight: bold;
    padding-left: 4px;
}
.wd-navigation li.wd-active a {
    color: black;
}
.wd-navigation a {
    color: #b52828;
    text-decoration: none;
    line-height: 1.3;
    word-wrap: break-word;
}
.wd-kanbas-courses-nav-term {
    padding: 0 0 12px 12px; 
    font-size: 0.7rem;
    font-style: italic;
    color: #677179;
    display: block;
}
.wd-navigation li i {
    float: right;
    color: #677179;
}
.wd-course-nav-mobile .wd-active {
    font-weight: bold;
}
.wd-course-nav-mobile-option {
    display: flex;
    flex-flow: row;
    margin: 0px calc(-0.75rem);
}

  
  .wd-course-modules-header {
    margin: 0 24px;
  }
  
  .wd-course-content-header {
    display: flex;
    align-items: center;
    min-height: 80px;
    margin: 0 24px;
    border-bottom: 1px solid #c7cdd1;
  }
  
  .wd-course-content-header > button {
    background: white;
    color: #b52828;
    border: white;
    line-height: 20px;
    margin-right: 12px;
    width: 36px;
    height: 30px;
    padding: 0px;
  }
  

  .wd-course-nav-crumbs {
    display: flex;
    flex: 1;
    align-items: center;
  }
  
  .wd-course-nav-crumbs > ul {
    list-style: none;
    padding: 0px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 0px;
  }
  
  .wd-course-nav-crumbs > ul > li {
    text-align: left;
    white-space-collapse: collapse;
    vertical-align: middle;
    white-space: nowrap;
    display: inline-block;
    color: #2d3b45;
  }
  
  .wd-course-nav-crumbs > ul > li > a {
    text-decoration: none;
    color: #b52828;
  }
  
  .wd-course-nav-crumbs > ul > li > a:hover{
    text-decoration: underline;
  }


  .wd-btn {
    background: #f5f5f5;
    color: #2d3b45;
    border: 1px solid;
    border-color: #c7cdd1;
    border-radius: 3px;
    padding: 8px 14px;
    font-size: 1rem;
    line-height: 20px;
    transition: #f5f5f5 .2s ease-in-out;
  }