.wd-kanbas-navigation {
    background-color: black;
    list-style: none;
    padding: 0px;  margin: 0px;
    width: 80px;
    height: 100%;
  }
  .wd-kanbas-navigation li {
    padding: 10px;     margin-bottom: 10px;
    font-size: 0.8em;  text-align: center;
  }
  .wd-kanbas-navigation li.wd-active {
    background-color: white;
  }
  .wd-kanbas-navigation li.wd-active a {
    color: #d41b2c;
  }
  .wd-kanbas-navigation a {
    color: white;
    text-decoration: none;
  }
  .wd-kanbas-navigation a i {
    color: #d41b2c;
    font-size: 2em;
    margin-bottom: 5px;
  }
.wd-kanbas-navigation-icon {
    width: 70%;
    height: 70%;
}
.wd-kanbas-navigation-account-icon {
    justify-content: center;
}
.wd-kanbas-navigation-account-icon img {
    width: 60%;
    height: 60%;
    position: relative;
    top: 23px;
    border-radius: 50%;
}
.wd-kanbas-navigation-account-icon .fa-circle {
    color: white;
    z-index: 1;
}
.wd-kanbas-sidenav {
    height: 100%;
    position: fixed;
    display: block;
}
.main {
    margin-left: 80px;
}
@media (max-width:768px) {
  .main {
    margin: 0px;
  }
}





